{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form_row %}
    <div class="form-group {{ form.vars.errors|length?'has-error'}}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {% if form.vars.description %}
        <p class="help-block">{{ form.vars.description }}</p>
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block collection_row %}
    <div class="panel-group" id="accordion" data-collection-index="{{ form|length }}" data-collection-prototype="{{ block('collection_item_widget')|escape }}">
    {% for element in form %}
        <div class="panel {{ element.vars.valid?'panel-default':'panel-danger' }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ element.vars.id }}">
                        {{ element.vars.data.title is empty?'Nuevo Elemento':element.vars.data.title }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ element.vars.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ form_widget(element) }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock collection_row %}

{% block collection_item_widget %}
    {% spaceless %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse__name__">
                        Nuevo elemento
                    </a>
                </h4>
            </div>
            <div id="collapse__name__" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_widget(prototype) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock collection_item_widget %}

{% block form_label %}
    <label class="control-label" for="{{ form.vars.id }}">{{ form.vars.label }}</label>
{% endblock form_label %}

{% block form_errors %}
    {% for error in form.vars.errors %}
    <span class="help-block">{{ error.message }}</span>
    {% endfor %}
{% endblock form_errors %}

{% block text_widget %}
    <input type="text" class="form-control" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" {% for key,value in form.vars.attr %}{{ key }}="{{ value }}"{% endfor %}>
{% endblock text_widget %}

{% block url_widget %}
    <input type="url" class="form-control" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" {% for key,value in form.vars.attr %}{{ key }}="{{ value }}"{% endfor %}>
{% endblock url_widget %}

{% block datepicker_widget %}
{% spaceless %}
<div class="input-group date datepicker">
    {% set attr = form.vars.attr|merge({ 'readonly': 'readonly', 'data-date-format': 'DD/MM/YYYY' })%}
    {{ form_widget(form, { 'attr': attr }) }}
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
{% endspaceless %}
{% endblock datepicker_widget %}

{% block datetimepicker_widget %}
{% spaceless %}
<div class="input-group date datetime_picker">
    {% set attr = form.vars.attr|merge({ 'readonly': 'readonly', 'data-date-format': 'DD/MM/YYYY H:mm' })%}
    {{ form_widget(form, { 'attr': attr }) }}
    <span class="input-group-addon"><span class="glyphicon glyphicon-clock"></span>
    </span>
</div>
{% endspaceless %}
{% endblock datetimepicker_widget %}

{% block textarea_row %}
    {% spaceless %}
        <div class="form-group {{ form.vars.errors|length?'has-error'}}">
            {{ form_label(form) }}
            {% if help is defined %}
                <span class="help">{{ help }}</span>
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control', 'rows': '6' } }) }}
        </div>
    {% endspaceless %}
{% endblock textarea_row %}

{% block imagepicker_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="clearfix"></div>
        {{ form_widget(form) }}
        <div class="clearfix"></div>
    </div>
{% endblock imagepicker_row %}

{% block imagepicker_widget %}
    <div class="form-group fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: {{ size.width + 10 }}px; height: {{ size.height + 10 }}px;">
            {% if form.parent.vars.data.image == null %}
                <img data-src="{{ 'holder.js/100%x100%/' ~ colors.background ~ ':' ~ colors.foreground }}" alt="Holder Image">
            {% else %}
                <img src="{{ form.parent.vars.data|entityHandler }}" alt="{{ form.vars.data }}">
            {% endif %}
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="width: {{ size.height + 10 }}px; height: {{ size.height + 10 }}px;"></div>
        <div class="fileinput-buttons">
            <span class="btn btn-primary btn-file">
                <span class="glyphicon glyphicon-folder-open icon-big"></span>&nbsp;
                <span class="fileinput-new"> Explorar</span>
                <span class="fileinput-exists"> Cambiar</span>
                {{ form_widget(form) }}
            </span>
            <a href="#" class="btn btn-danger btn-file-delete fileinput-exists" data-dismiss="fileinput">
                <span class="glyphicon glyphicon-remove icon-big"></span> Eliminar
            </a>
        </div>
    </div>
{% endblock imagepicker_widget %}