{% extends 'FrontBundle:Layout:front.privateArea.layout.html.twig' %}

{% trans_default_domain 'dolopedia' %}

{% block privateAreaTitle %}{{ 'team.title'|trans }}{% endblock privateAreaTitle %}

{% block privateAreaButton %}
    <a href="{{ path('workflow.team.assign') }}" class="btn btn-big btn-primary pull-right visible-lg visible-md"><span class="icon-create-user icon-shadow"></span> {{ 'team.new' | trans }}</a>
{% endblock privateAreaButton %}

{% block privateAreaButtonResponsive %}
    <div class="col-md-12">
        <a href="{{ path('workflow.team.assign') }}" ><span class="icon-create-user icon-md-inline"></span> {{ 'team.new'|trans }}</a>
    </div>
{% endblock privateAreaButtonResponsive %}


{% block privateAreaContent %}
    <div class="row container-row">
        <div class="col-md-12">
            {{ include('FrontBundle:User:workflow.partial.team.tree.html.twig') }}
        </div>
    </div>
{% endblock privateAreaContent %}