{% extends 'FrontBundle:Layout:front.privateArea.layout.html.twig' %}

{% trans_default_domain 'dolopedia' %}

{% block privateAreaTitle %}{{ 'article.myComments' | trans }}{% endblock privateAreaTitle %}

{% block privateAreaButton %}
{% endblock privateAreaButton %}

{% block privateAreaContent %}

    {% for comment in app.user.comments %}
        <div class="row container-row">
            <div class="col-md-12">
                <div class="comment-box">
                    <ul class="action-options action-options-small">
                        <li><a href="{{ path('panel.comment.edit', {'id': comment.id}) }}"><span class="icon-data-edit"></span></a></li>
                        <li><a href="#removeConfirmation" class="base-color confirmation-popup" data-confirmation-popup-url="{{ path('panel.comment.remove', {'id': comment.id}) }}"><span class="icon-cancel"></span></a></li>
                    </ul>
                    <p><a href="{{ path('public.article.show', {'slug': comment.article.seoSlug}) }}" class="title">{{ comment.article }}</a></p>
                    <p class="subtitle">{{ 'article.publishedDatetime' | trans( {'%date%': comment.createdAt|date('d/m/Y'), '%hour%': comment.createdAt|date('H:i')} ) }}</p>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row container-row">
            <div class="col-md-12">
                <p>{{ 'general.emptyResults'|trans }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock privateAreaContent %}