{% block extends %}
{{ "{% extends 'BraincraftedBootstrapBundle::layout.html.twig' %}" }}
{% endblock extends %}

{{ "{% form_theme form 'BraincraftedBootstrapBundle:Form:widgets.html.twig' %}" }}

{{ "{%  block title %}" }}{{ entity }} creation{{ "{%  endblock %}" }}

{% block body %}
{{ "{% block body -%}" }}
    
{% include 'crud/views/others/menu.html.twig.twig' %}

<div id="crud-layout">
    
    <div class="container-fluid">

        <div class="row-fluid">
            
            <div class="span12">
                
                <header class="jumbotron subhead" id="overview">

                    <h1>{{ entity }} creation</h1>

                </header>
                
            </div>
            
        </div>
        
        <div class="row-fluid">
        
            <div class="breadcrumbs-wrapper"> 
            
                <div class="span7">

                    <div class="breadcrumbs">

                        {{ '{{ wo_render_breadcrumbs() }}' }}

                    </div>

                </div>

                <div class="span5">

                    <div class="btn-group pull-right">

                    {% set hide_edit, hide_delete = true, true %}
                    {% include 'crud/views/others/record_actions.html.twig.twig' %}

                    </div>

                </div>
                
            </div>
            
        </div>
        
        {{ "{% include 'BraincraftedBootstrapBundle::partial.flash.html.twig' %}" }}
    
        <div class="row-fluid">

            <section id="creation-form">

                <div class="span12">

                    <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} novalidate>
                        {{ "{% set form_type = 'horizontal' %}" }}

                        {% include 'crud/views/others/tabs.html.twig.twig' %}
                            
                        {{ "{{ form_widget(form) }}" }}

                        <div class="well form-actions">

                            <button type="submit" class="btn btn-primary"><i class="icon-plus"></i>Crear</button>
                            {% set hide_edit, hide_delete = true, true %}
                            {% include 'crud/views/others/record_actions.html.twig.twig' %}

                        </div>

                    </form>

                </div>

            </section>

        </div>

    </div>

</div>
{{ "{% endblock %}" }}
{% endblock body %}
